.stat-area {
    display: grid;
    grid-template-rows: repeat(1, 7rem);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .item {
    background-color: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: 0.75rem;
    border: solid var(--outline) 1px;
    width: 100%;
  }
  
  .item-title {
    color: var(--text-secondary);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .item-value {
    font-size: 1rem;
    font-weight: 600;
  }

  .stat-area2 {
    display: grid;
    grid-template-rows: repeat(2, 7rem);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .stat-area3 {
    display: grid;
    grid-template-rows: repeat(3, 7rem);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }

  /* grid-area: row start col-start row-end col-end*/

  /* Grid Area */
  .item-5 {
    grid-area: 1 / 1 / 3 / 2;
  }

  .item-6 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .item-7 {
    grid-area: 1 / 3 / 3 / 4;
  }

  .item-8 {
    grid-area: 1 / 1 / 4 / 3;
  }

  .item-9 {
    grid-area: 1 / 3 / 4 / 5;
  }