body {
  background: url("../img/dotgrid.png") repeat center/contain, var(--bg-primary);
  color: var(--text-primary);
  gap: 20px;

  margin: 0 auto;
  padding: 0;
}

.page-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  background-color: var(--bg-secondary);
  border: 1px solid var(--outline);
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  max-width: 400px;
  color: var(--text-primary);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}

p {
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 2px;
}

input,
textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 0.875rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-bottom: 16px;
  outline: none;
  transition: border-color 0.2s;
}

input:focus {
  border-color: var(--gray);
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}

.ma-btn {
  text-align: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--bg-primary);
  border: none;
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.ma-btn:hover {
  opacity: 0.8;
}

.btn-group {
  min-width: 200px;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.branding,
.brand-title {
  display: flex;
}

.branding {
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

.brand-title {
  flex-direction: column;
  align-items: flex-start;
  gap: -4px;
}

.brand-title h1,
.brand-title p {
  font-style: normal;
  line-height: normal;
}

.brand-title h1 {
  color: var(--text-primary);
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.brand-title p {
  color: var(--text-primary);
  font-size: 8px;
  font-weight: 400;
  margin: 0;
}

/* to remove the styling of scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.primary-color {
  background-color: var(--primary) !important;
}
