body {
  height: 100vh;
  width: 100vw;
}

#map {
  width: 100%;
  height: 80%;
}

.map-popup {
  font-family: var(--poppins);
  padding: 2px;
  max-width: 250px;
  color: var(--text-secondary);
}

.popup-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  color: var(--text-primary);
}

.popup-subtitle {
  text-align: left;
  font-size: 12px;
  color: var(--text-secondary);
  margin-bottom: 6px;
}

.popup-btn {
  font-size: 12px;
  padding: 4px 8px;
}
