/* navbar styling */
header {
  display: flex;
  height: 58px;
  width: 100%;
  padding: 0 140px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative; /* added for absolute positioning of nav-items */

  margin-top: 10px;
  background: #ffffff33;
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 999;
}

.nav-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 32px;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1000;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-items a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-items a:hover {
  color: var(--text-secondary);
  text-decoration: underline;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

.btn-group a {
  display: flex;
  width: 99px;
  height: 32px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 5px;

  text-decoration: none;
  color: var(--text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 6px;
  border: 1px solid transparent;
  background: none;
  transition: all 0.2s ease;
}

.btn-group a:hover {
  text-decoration: underline;
}

.btn-group a.signup-btn {
  border-color: var(--outline, #c8d7db);
  background: url("../img/button.png") lightgray 50% / cover no-repeat;
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 800;
}

.btn-group a:disabled {
  background-color: var(--error);
  cursor: not-allowed;
}
