footer {
    position: relative;
    width: 80vw;
    height: fit-content;
    border-radius: 32px;
    overflow: hidden;
    flex-shrink: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    margin-bottom: 5vh;
  }
  
  .footer-cont {
    position: relative;
    width: 80vw;
    height: 65vh;
    border-radius: 32px;
    overflow: hidden;
    flex-shrink: 0;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .footer-cont::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../img/footerbg.png') no-repeat center/cover;
    z-index: 0;
  }
  
  .footer-bot {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 6vw;
  }
  
  .cpyright p {
    margin: 0;
    font-size: 0.875rem;
  }
  
  .socials {
    display: flex;
    gap: 1rem;
  }
  
  .socials a {
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
  }
  
  .ftr-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 20px;
  }
  
  .ftr-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  
    margin: auto;
  }
  
  .ftr-top h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-primary);
    margin: 0;
  }
  
  .ftr-top form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .ftr-top form input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid var(--outline);
    background: var(--bg-primary);
    color: var(--text-primary);
  }
  
  .ftr-top form button {
    all: unset;
    background: none; 
    border: none;
    padding: 0; 
    font: inherit;
    cursor: pointer;
    text-align: center; 
  
    cursor: pointer;
    background: url('../img/button.png') lightgray 50% / cover no-repeat;
    padding: 0.8rem 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  
  .ftr-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    width: 90%;
    margin: auto;
  }
  
  .ftr-bottom #brand {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    line-height: 1;
  }
  
  .ftr-bottom #brand svg {
    width: 48px;
    height: 48px;
  }
  
  .ftr-bottom #brand h1 {
    font-size: 1.5rem;
    color: var(--bg-primary);
    margin: 0;
    text-align: left;
  }
  
  .ftr-bottom #brand p {
    font-size: 0.8rem;
    color: var(--bg-primary);
    margin: 0;
    text-align: left;
  }
  
  .ftr-bottom #right {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  
    gap: 4rem;
  }
  
  .ftr-bottom #right h3 {
    font-size: 1.5rem;
    font-family: var(--poppins) !important;
  }
  
  .ftr-bottom #right p {
    text-align: left;
    margin: 0;
  }
  
  .ftr-bottom #right #quick-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .ftr-bottom #right #quick-links a {
    list-style: none;
    color: var(--text-primary);
    text-decoration: none; 
  }
  
  .ftr-bottom #right #quick-links a:hover {
    text-decoration: underline;
  }
  
  .ftr-bottom #right #contact {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

