body {
  background: 
      url('../img/dotgrid.png') repeat-y center/contain,
      var(--bg-primary);
  color: var(--text-primary);
  gap: 20px;
}

.card {
  background-color: var(--bg-secondary);
  border: 1px solid var(--outline);
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  max-width: 400px;
  color: var(--text-primary);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

p {
  font-size: 0.875rem;
  color: var(--text-secondary);
  text-align: center;
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 2px;
}

input,
textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 0.875rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-bottom: 16px;
  outline: none;
  transition: border-color 0.2s;
}

input:focus {
  border-color: var(--gray);
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}

.ma-btn {
  text-align: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--bg-primary);
  border: none;
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.ma-btn:hover {
  opacity: 0.8;
}

.btn-group {
  min-width: 200px;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
