@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #317a88;
  --secondary: #63c5ba;
  --accent: #bdd181;
  --bg-primary: #f6f8f9;
  --bg-secondary: #f0f5f3;
  --outline: #c8d7db;
  --text-primary: #252728;
  --text-secondary: #505051;
  --poppins: "Poppins", sans-serif;
  --error: #ff8a8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}
